
body {
     margin-top: 20px;
     margin-left: 30px;

}

div.wrapper {
	    width: 100%;	   
}

h1 {
	text-align: center;
  
}


/* if you are reading this, the below is the start of the css for the image and wrapper div for the panner - thats probably what you are interested in */

div#pan {
	
	width: 800px;
	height: 620px;
}

/* and this is the end */

/* this is extra stuff for #pan to get the layout right for the eg - not necessary */
div#pan {
  display: block;
    margin-left: auto;
    margin-right: auto }
}







div#output, div#images {
	    height: 0px;
}


div#attribution {
		
}

div.clear {
	  clear: both;
}